<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {page: pageName})  %>
<body>
    <div class="main">
        <%- include('partials/top-bar') %>
        <%- include('partials/nav-bar')  %>
        <div class="main-view">
            <div class="main-container">
                <h1><%= pageName %> Page</h1>
                
            </div>
        </div>
        <%- include('partials/now-playing-bar')  %>
    </div>
</body>
</html>