<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {page: 'Playlist'})  %>
<body>
    <div class="main">
        <%- include('partials/top-bar') %>
        <%- include('partials/nav-bar')  %>
        <div class="main-view">
            <div class="track-container">
                <div class="track-info-container">
                    <img src=<%= playlist.image %> alt=image-<%= playlist.name %>>
                    <div class="track-info-content">
                        <p><%= playlist.type %></p>
                        <form id="save_form" action="/playlist/<%= playlist._id %>/edit?_method=PUT" method="post"><input class="edit-playlist-name" type="text" name="playlistName"></form>
                        <p><b>User</b> • <%= playlist.total_duration %></p>
                    </div>
                </div>
                <div class="track-content">
                    <div class="track-options">
                        <a href="#"><img src="/images/icons/icon-play-button-circled-50.svg" alt="icon-play-button-circled-50"></a>
                        <% if (playlist._id != "63167b9782029db6ab375237") { %>
                            <form id="delete_form" action="/playlist/<%= playlist._id %>?_method=DELETE" method="post"><button class="delete-button" form="delete_form" type="submit"><img src="/images/icons/icons-remove.svg" alt="icon-remove-img"></button></form>
                            <button class="delete-button" form="save_form" type="submit"><img src="/images/icons/icons-save.svg" alt="icons-save.svg"></button>
                        <% } %>
                    </div>
                    <div class="playlist-header"><p>#</p><p>TITLE</p><p>ALBUM</p><p>DATE ADDED</p><p>DURATION</p></div>
                    <div class="playlist-tracks">
                        <% playlistItems.forEach((track, index) => { %>
                            <div class="playlist-item">
                                <p><%= index + 1 %></p>
                                <div class="playlist-item-info">
                                    <div class="playlist-item-image">
                                        <img src=<%= track.image %> alt="<%= track.title %>-image">
                                    </div>
                                    <div class="playlist-item-content">
                                        <p class="playlist-item-title"><%= track.title %></p>
                                        <p><%= track.artists %></p>
                                    </div>
                                </div>
                                <p><%= track.album %></p>
                                <p><%= track.release_date %></p>
                                <p><%= track.duration %></p>
                                <form action="/playlist/<%= playlist._id %>/delete/<%= track._id %>?_method=PUT" method="post"><button type="submit">Delete</button></form>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/now-playing-bar')  %>
    </div>
</body>
</html>