<!DOCTYPE html>
<html lang="en">
    <head>
<%- include('partials/head', {page: 'Home'})  %>
<link rel="stylesheet" href="/styles/tracks.css" />
<script src="https://kit.fontawesome.com/368a590dd8.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main">
        <%- include('partials/top-bar') %>
        <%- include('partials/nav-bar') %>
        <div class="main-view">

            <div class="head">
                <div class="headImg move"><img class="headImg" src="https://www.thewhitonline.com/wp-content/uploads/2019/11/1_PYWFsErudajrL_oY4y9F-g.png"></div>
                <div class="title"><h2>New Tracks</h2><a href="/user"><i class="fa-brands fa-spotify"></i>User</a></div>
            </div>

            <div class="subhead">
                <button class="play" onclick="play.songs();"><i class="fa-solid fa-play"></i></button>
                <button class="shuffle" onclick="shuffle.songs()"><i class="fa-solid fa-shuffle"></i></button>
            </div>

            <table>
                <tr>
                  <th>Tracks</th>
                </tr>
                <tr>
                    <td><%- include('partials/songicon.ejs') %></td>
                </tr>
              </table>
        
        </div>
       
        <%- include('partials/now-playing-bar') %>
    </div>
    
</body>
</html>